<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200008679639-0445bbk4vhtr05vctcpofbpudgv071dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200008679639-0445bbk4vhtr05vctcpofbpudgv071dj</string>
	<key>API_KEY</key>
	<string>AIzaSyBjOYRsanHp3kDpFvIfS2580BCwXK6lVR4</string>
	<key>GCM_SENDER_ID</key>
	<string>200008679639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoAppRiverpod</string>
	<key>PROJECT_ID</key>
	<string>todo-app-riverpod</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-riverpod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200008679639:ios:b2030db362a63fb2407092</string>
</dict>
</plist>